.header {
    min-height: 180px;
    display: flex;
    align-items: center;
  }
  
  .menu {
    min-height: 23px;
    width: 100%;
    display: flex;
    justify-content: space-between;
  
    &__li {
      display: inline;
  
      &:first-of-type {
        margin-right: 29px;
      }
    }
  }
  