.header {
    min-height: 180px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .social {
    max-width: 95px;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }