.menu {
    min-height: 23px;
    height: 100%;
    display: flex;
    justify-content: space-between;
  
    &__link {
      font-size: $font-size-body;
      font-weight: bold;
      letter-spacing: -0.35px;
      text-decoration: none;
      color: $primary-color;
  
      &:hover {
        color: $highlight-color;
      }
    }
  
    &__li {
      display: inline;
  
      &:first-of-type {
        margin-right: 29px;
      }
    }
  }
  